@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

:root{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    font-synthesis: none;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    min-width: 320px;
    min-height: 100vh;
    background-color: rgb(56, 56, 56);
}

img {
   max-width: 100%;
}

h1, h2, h3 {
   font-weight: 600;
}

h1 {
   font-size:3rem;
   line-height: 1.1;
   margin-bottom: 1.5rem;
   color: white;
}

h2 {
   font-size: 2rem;
}

h3 {
   font-size: 1.25rem;
   margin-bottom: 1.5rem;
}

h4, p {
   font-size: 1rem;
   margin-bottom: 1rem;
   line-height: 1.5;
}

a {
   font-weight: 500;
   text-decoration: none;
   letter-spacing: 1px;
   color: rgb(233, 233, 233);
}

a:hover {
   color: white;
}

.-index-1{
   z-index: 1;
}

.-index-1 {
   z-index: -1;
}

button {
   border: 2px solid transparent;
   padding: 0.5rem 1rem;
   font-size: inherit;
   font-weight: 500;
   font-family: inherit;
   background-color: transparent;
   cursor: pointer;
}

.header {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 999;
   padding: 1.2rem 0;
   transition: all 0.5s;
   background-color: transparent;
}

.header.scrolled {
   padding: 1rem 0;
   background-color: black;
   box-shadow: 0 2px 20px -16px rgb(0 0 0 / 50%);
}

.nav--main {
   display: none;
   --bs-nav-link-padding-x: 0rem;
}

.nav ul {
   left: 0;
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 1rem;
}

.nav-link {
   position: relative;
   display: block;
}

.nav-link.active{
   color: pink;
}

main {
   padding-top: 14rem;
}

footer {
   bottom : 0;  
   text-align: center;  
   vertical-align: middle; 
   position: fixed;
   width:100%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.svg-index {
   z-index: -1;
   position: absolute;
   top: 0;
   filter: blur(8px);
   -webkit-filter: blur(8px);
}

.container {
   width: 100%;
   max-width: 3840px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.btn {
   display: inline-block;
   height: 1.8rem;
   background-color: white;
   border: 2px solid transparent;
   outline: 0;
   border-radius: .5rem;
   padding: .5rem .5rem;
   font-size: inherit;
   font-weight: 600;
   font-family: inherit;
   cursor: pointer;
   color: black;
   transition: all .3s ease-out 0s;
   letter-spacing: 1px;
   line-height: 70%;
}

.btn:hover {
   border: 2px solid white;
   background-color: rgb(6, 136, 136);
   color: #ffffff;
}

.title { 
   text-align: center;  
   vertical-align: middle; 
   position: fixed;
   width:100%;
}

.nav-link {
    position: relative;
    display: block;
}

 .underline {
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out 0s;
 }

 .underline::before,
 .underline::after
 {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: white;
 }

 .underline::before{
    left:110%;
 }

 .underline::after {
    left:140%;
 }

 .nav-link.active .underline,
 .nav-link:hover .underline{
    opacity: 1;
    visibility: visible;
    width: 50%;
 }

 .nav-link.active .underline::before,
 .nav-link:hover .underline::before{
    width: 20%;
 }

 .nav-link.active .underline::after,
 .nav-link:hover .underline::after{
    width: 10%;
 }

 .logo {
   font-size: 30px;
   position: relative;
   left: 5%;
 }

 .logo:hover{
    filter: drop-shadow(0 0 1rem white);
 }

 .hamburger {
    padding: 0;
    background-color: transparent;
    border: 0;
 }

 .hamburger .hamburger-slice {
    width: 30px;
    height: 2px;
    display: block;
    margin: 5px 0;
    position: relative;
    background-color: white;
    transition: all 0.3s ease-out 0s;
 }

 .hamburger.active .hamburger-slice:nth-of-type(1)
 {
    top: 7px;
    transform: rotate(45deg);
 }

 .hamburger.active .hamburger-slice:nth-of-type(2)
 {
    opacity: 0;
 }

 .hamburger.active .hamburger-slice:nth-of-type(3)
 {
    top: -7px;
    transform: rotate(135deg);
 }
