<svg class="svg-index" id="visual" width="fit-content" height="fit-content" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><rect width="3840" height="2160" fill="#001829"></rect><g><g transform="translate(1095 80)"><path d="M0 -519L449.4 -259.5L449.4 259.5L0 519L-449.4 259.5L-449.4 -259.5Z" fill="#297EA6"></path></g><g transform="translate(3630 1767)"><path d="M0 -490L424.4 -245L424.4 245L0 490L-424.4 245L-424.4 -245Z" fill="#297EA6"></path></g><g transform="translate(3182 102)"><path d="M0 -352L304.8 -176L304.8 176L0 352L-304.8 176L-304.8 -176Z" fill="#297EA6"></path></g><g transform="translate(52 2078)"><path d="M0 -436L377.6 -218L377.6 218L0 436L-377.6 218L-377.6 -218Z" fill="#297EA6"></path></g><g transform="translate(2160 1732)"><path d="M0 -473L409.6 -236.5L409.6 236.5L0 473L-409.6 236.5L-409.6 -236.5Z" fill="#297EA6"></path></g><g transform="translate(257 1045)"><path d="M0 -471L407.9 -235.5L407.9 235.5L0 471L-407.9 235.5L-407.9 -235.5Z" fill="#297EA6"></path></g></g></svg>
<div class="container">
  <h1 class="title">Welcome to my website!</h1>
  <h2 class="subtitle"><span id="typed"></span></h2>
</div>
